[core]
    excludefiles = ~/.gitignore
    editor = nvim
[push]
    default = simple
[user]
    name = rokoala
[init]
    defaultBranch = main
[alias]
    s = !git status -s
    c = !git add --all && git commit -m
    d = diff
    co = checkout
    ci = commit
    ca = commit -a
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
    hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
    llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
    amend = !git add --all && git commit --amend --no-edit
    open = "!hub browse"
